{% extends "dashboard/base.html" %}

{% comment "About" %}

    This template renders a form for user to insert a machines list in brute text.

    -- Context
    title               str                                             The page title
    worker              str                                             Worker name
    ignored             int                                             Number of invalid machines (after submission) for user feedback
    userInput           str                                             User input for recovery in case of error.

{% endcomment %}

{% load static %}

{% block meta %}
    <title>Secure(ua)ll | Workers | {{title}}</title>
{% endblock meta %}

{% block header %}
    <div class="header text-center my-auto">
        <h2 class="title mb-0">Worker {{worker.name}} | {{title}}</h2>
    </div>
{% endblock header %}

{% block styles %}
{% endblock styles %}

{% block content %}

    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="progress mb-4">
                          <div class="progress-bar bg-blur-primary me-2" role="progressbar" style="width: 33%;" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div
                          <span>33%</span>
                        </div>
                        {% ifequal mode "range" %}
                            <h4 class="card-title">Insert the IP range</h4>
                            <p>Write below the IP where the range starts and ends.</p>
                        {% else %}
                            <h4 class="card-title">Paste the machine data</h4>
                            <p class="">Insert IP addresses and or DNS names separated by one of the following symbols: ; , \n</p>
                        {% endifequal %}
                    </div>
                    <div class="card-body">
                        <form method="POST" class="form-lg">
                            {% csrf_token %}
                            <input type="hidden" name="mode" value="{{mode}}" />
                            <div class="form-group d-flex flex-row flex-wrap">
                                {{form}}
                            </div>
                            <div class="row m-0 d-flex flex-row flex-nowrap">
                                <a href="/workers" class="btn btn-outline-primary col-4">Go back to workers</a>
                                <button class="btn btn-primary col-8" type="submit">Validate machines</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
<script>
    {% if ignored %}
        showNotification(
            "Invalid machines!",
            "A total of {{ignored}} entries were ignored, as they do not represent any valid IP addresses or DNS names. Please verify they are correct.",
            "danger",
            ""
        );
    {% endif %}
</script>
{% endblock scripts %}