{% extends "dashboard/base.html" %}

{% comment "About" %}

    This template renders a table for user to insert/update machines.

    -- Context
    title               str                                             The page title
    worker              str                                             Worker name
    add                 bool                                            Adding or editing?
    machines            machines.models.Machine[]                       List of machines for editing
    ignored             int                                             Number of invalid machines (after submission) for user feedback
    alreadyAssociated   int                                             Number of machines that were already associated with worker
    validated           bool                                            Tells if form has been validated (to show error notification and column on table)
    edit                bool                                            Tells if form has machines on db (to show warning notification and column on table)

{% endcomment %}

{% load static %}
{% load dashboard_filters %}

{% block meta %}
    <title>Secure(ua)ll | Workers | {{title}}</title>
{% endblock meta %}

{% block header %}
    <div class="header text-center my-auto">
        <h2 class="title mb-0">Worker {{worker.name}} | {{title}}</h2>
    </div>
{% endblock header %}

{% block styles %}
{% endblock styles %}

{% block content %}

    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="progress mb-4">
                          <div class="progress-bar bg-blur-primary me-2" role="progressbar" style="width: {% if add %}66%{% else %}50%{% endif %};" aria-valuenow="{% if add %}66%{% else %}50%{% endif %}" aria-valuemin="0" aria-valuemax="100"></div
                          <span>{% if add %}66%{% else %}50%{% endif %}</span>
                        </div>
                        {% if add %}
                            <h4 class="card-title">Please validate the machines list</h4>
                            <p class="">You can edit and fill new information.</p>
                        {% else %}
                            <h4 class="card-title">You can change the unlocked fields.</h4>
                            <p class="">When you finish, submit the changes.</p>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="validateMachines" value="validateMachines" />

                            <div class="table-responsive">
                                <table class="table table-discreet" id="latestChangesTableAddRemoved">
                                    <thead class=" text-primary">
                                        {% if not add %}<th></th>{% endif %}
                                        <th>IP address</th>
                                        <th>DNS</th>
                                        <th>
                                            Location
                                            <small>
                                                <i
                                                    class="now-ui-icons travel_info text-primary"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="This is only for your information. Does not interfere with the system."
                                                ></i>
                                            </small>
                                        </th>
                                        <th>
                                            Scan level
                                            <small>
                                                <i
                                                    class="now-ui-icons travel_info text-primary"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-placement="top"
                                                    title="The higher the level, the more intrusive the scanning. Find more on documentation."
                                                ></i>
                                            </small>
                                        </th>
                                        <th>Scan periodicity</th>
                                        {% if machine.invalid or machine.edit or machine.alreadyAssociated %}<th></th>{% endif %}
                                    </thead>
                                    <tbody>
                                        {% for machine in machines %}
                                            <tr>
                                                {% if not add %}
                                                    <td>
                                                        <i
                                                            class="now-ui-icons ui-1_simple-remove text-danger fw-bold"
                                                            onClick="removeMachine({{machine.id|default:'null'}}, '{{worker.name}}', '{{machine.dns|default:'null'}}', '{{machine.ip|default:'null'}}', '{{add}}')"
                                                            data-bs-toggle="tooltip"
                                                            data-bs-placement="top"
                                                            title="Remove from worker."
                                                        ></i>
                                                    </td>
                                                {% endif %}
                                                <td>
                                                    <input
                                                            name="ip{{forloop.counter0}}"
                                                            type="text"
                                                            class="form-control"
                                                            placeholder=""
                                                            value="{{machine.ip|default_if_none:''}}"
                                                            {% if machine.edit or not add %}readonly="readonly"{% endif %}
                                                    >
                                                </td>
                                                <td>
                                                    <input
                                                            name="dns{{forloop.counter0}}"
                                                            type="text"
                                                            class="form-control"
                                                            placeholder=""
                                                            value="{{machine.dns|default_if_none:''}}"
                                                            {% if machine.edit or not add %}readonly="readonly"{% endif %}
                                                    >
                                                </td>
                                                <td>
                                                    <input name="location{{forloop.counter0}}" maxlength="30" type="text" class="form-control" placeholder="" value="{{machine.location|default_if_none:''}}">
                                                </td>
                                                <td>
                                                    <select name="scanLevel{{forloop.counter0}}">
                                                        {% for op in machine|get_choices:"scanLevel" %}
                                                            <option value="{{op.0}}" {% ifequal op.0 machine.scanLevel %}selected="true"{% endifequal %}>{{op.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td>
                                                    <select name="periodicity{{forloop.counter0}}">
                                                        {% for op in machine|get_choices:"periodicity" %}
                                                            <option value="{{op.0}}"
                                                                {% if machine.periodicity %}
                                                                    {% ifequal op.0 machine.periodicity %}selected="true"{% endifequal %}
                                                                {% else %}
                                                                    {% ifequal op.0 "W" %}selected="true"{% endifequal %}
                                                                {% endif %}
                                                            >{{op.1}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                {% if machine.invalid or machine.edit or machine.alreadyAssociated %}
                                                    <td>
                                                        {% if machine.invalid %}
                                                            <i
                                                                class="now-ui-icons ui-1_simple-remove text-danger fw-bold"
                                                                data-bs-toggle="tooltip"
                                                                data-bs-placement="top"
                                                                title="Invalid line"
                                                            ></i>
                                                        {% endif %}
                                                        {% if machine.edit %}
                                                            <i
                                                                class="now-ui-icons ui-2_settings-90 text-warning fw-bold"
                                                                data-bs-toggle="tooltip"
                                                                data-bs-placement="top"
                                                                title="Already exists on the database. Editing."
                                                            ></i>
                                                        {% endif %}
                                                        {% if machine.alreadyAssociated %}
                                                            <i
                                                                class="now-ui-icons design-2_ruler-pencil text-warning fw-bold"
                                                                data-bs-toggle="tooltip"
                                                                data-bs-placement="top"
                                                                title="Already associated to worker. Editing."
                                                            ></i>
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="row m-0 d-flex flex-row flex-nowrap">
                                <btn class="btn btn-outline-primary col-4" type="submit" onClick="window.history.back()">
                                    {% if add %}
                                        Edit machines list input
                                    {% else %}
                                        Go back to workers list
                                    {% endif %}
                                </btn>
                                <button class="btn btn-primary col-8" type="submit">
                                    {% if add %}
                                        Add machines
                                    {% else %}
                                        Submit changes
                                    {% endif %}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'workers/workersMachines.js' %}"></script>
<script>
    {% if ignored %}
        showNotification(
            "Invalid machines!",
            "A total of {{ignored}} entries were ignored, as they do not represent any valid IP addresses or DNS names. To go back to the machines input list click the left button.",
            "warning",
            ""
        );
    {% endif %}
    {% if validated %}
        showNotification(
            "Invalid machines!",
            "There is at least a machine with invalid data. Please check the table before submitting.",
            "danger",
            ""
        );
    {% endif %}
    {% if edit %}
        showNotification(
            "You have inserted machines that already exist in the database!",
            "These machines are identified with a warning icon. Changes made here will apply to all workers.",
            "warning",
            "ui-2_settings-90"
        );
    {% endif %}
    {% if alreadyAssociated %}
        showNotification(
            "You have inserted machines that are already associated to worker {{worker.name}}!",
            "They are identified with an information icon. You can still edit their information.",
            "warning",
            "design-2_ruler-pencil"
        );
    {% endif %}
</script>
{% endblock scripts %}