{% extends "dashboard/base.html" %}

{% comment "About" %}

    This template renders workers list and for each a list of the machines associated.

    -- Context
    workers             workers.models.Worker[]                         A list of workers
    machinesAdded       Object {worker: name:str, machines: int, edited: int, disassociated: int}
                                                                        For success notification when added machines to worker.

{% endcomment %}

{% load static %}
{% load workers_filters %}

{% block meta %}
    <title>Secure(ua)ll | Workers</title>
{% endblock meta %}

{% block headerClass %}{% endblock headerClass %}

{% block header %}
    <div class="header text-center my-auto">
        <h2 class="title mb-3">Workers</h2>
        {% if filter or workers %}
            <a
                href="/workers/machines/"
                data-helper="0"
                data-placement="bottom"
                title="Hosts workers"
                data-content="Click here to see all the hosts and change the workers associated with each."
            ><button class="btn btn-outline-primary"><i class="now-ui-icons design-2_ruler-pencil mr-3"></i>Edit hosts workers</button></a>
        {% endif %}
    </div>
{% endblock header %}

{% block styles %}
    <link href="{% static 'assets/css/plugins/datatables.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
    {# Filters #}
    {% if filter or workers %}
    <div class="row" id="workers">
        <div class="col-12 d-flex">
            <div class="card card-chart d-flex flex-column">
                <div class="card-header d-flex">
                    <h5 class="card-category"></h5>
                    <h4
                        class="card-title text-secondary"
                        data-helper="1"
                        data-placement="top"
                        title="Filters"
                        data-content="You can filter the workers by status."
                    >Filters</h4>
                    <div class="ml-auto my-auto d-flex flex-row flex-wrap">
                        <a href="?status=A" class=""><button class="btn {% if filter == 'A' %}active{% endif %} btn-outline-primary ml-2">Active</button></a>
                        <a href="?status=D" class=""><button class="btn {% if filter == 'D' %}active{% endif %} btn-outline-danger ml-2">Down</button></a>
                        <a href="?status=I" class=""><button class="btn {% if filter == 'I' %}active{% endif %} btn-outline-dark ml-2">Idle</button></a>
                        {% if filter %}
                            <a href="?" class=""><button class="btn btn-outline-secondary ml-2"><i class="now-ui-icons ui-1_simple-remove"></i> Remove filters</button></a>
                        {% endif %}
                    </div>
                </div>
                <div class="card-body d-flex flex-column">

                </div>
            </div>
        </div>
        {% endif %}

        {# Workers list #}
        {% for worker in workers %}
            <div class="col-lg-12 d-flex mx-auto" id="worker{{worker.id}}">
                <div class="card card-chart d-flex flex-column">
                    <div class="card-header d-flex">
                        <h4
                            class="card-title"
                            {% if forloop.counter0 == 0 %}
                                data-helper="2"
                                data-placement="top"
                                title="Worker card"
                                data-content="For each worker a card gives you some general data. Click on its name to edit it."
                            {% endif %}
                        >
                            Worker
                            <a
                                data-pk="{{worker.id}}"
                                data-url="/workers/{{worker.id}}/"
                                id="editName_worker{{worker.id}}"
                                href="#"
                                class="workerTitle"
                                title="Click to edit"
                            >{{worker.name}}</a>
                            {% csrf_token %}
                            <i class="small text-primary now-ui-icons design-2_ruler-pencil" title="Click on text to edit"></i>
                        </h4>
                        {% if worker.machines.all %}
                        <div class="ml-auto my-auto d-flex flex-row">
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body my-auto d-flex flex-column">
                        <!-- Worker data -->
                        <div class="d-flex col-12 p-0 text-secondary">
                            <dl class="col-6 p-0">
                                <dt>Name</dt>
                                <dd>{{worker.name}}</dd>
                                <dt>Failures</dt>
                                <dd>{{worker.failures}}</dd>
                            </dl>
                            <dl class="col-6 p-0">
                                <dt>Status</dt>
                                <dd>
                                    <span class="text-{{worker.get_status_display|color}}">{{worker.get_status_display}}</span>
                                </dd>
                                <dt>Created</dt>
                                <dd>{{worker.created|date:"Y/m/d H:i"}}</dd>
                            </dl>
                        </div>
                        <!-- Machines table -->
                        {% if worker.machines.all %}
                            <div class="mt-3 d-flex flex-row">
                                <h5 class="mb-0">{{worker.machines.all|length}} hosts associated</h5>
                                <div class="ml-auto d-flex flex-row flex-wrap">
                                    <button
                                        class="btn btn-outline-primary"
                                        data-toggle="collapse"
                                        data-target="#workerMachines{{worker.id}}"
                                        aria-expanded="false"
                                        aria-controls="workerMachines{{worker.id}}"
                                        id="workerMachines{{worker.id}}Collapse"
                                        {% if forloop.counter0 == 0 %}
                                            data-helper="3"
                                            data-placement="bottom"
                                            title="Hosts"
                                            data-content="Click here to see the hosts associated to the worker."
                                        {% endif %}
                                    >
                                        <i class="now-ui-icons tech_laptop mr-2"></i> See hosts
                                    </button>
                                    <div class="dropdown dropdown-free ml-1">
                                        <button
                                            class="btn btn-outline-primary"
                                            data-toggle="dropdown"
                                            {% if forloop.counter0 == 0 %}
                                                data-helper="4"
                                                data-placement="bottom"
                                                title="Associate hosts"
                                                data-content="Use this button to associate new hosts. There are two methods available:<ul><li>Batch mode: Insert hosts with a text list;</li><li>IP range: Insert hosts in an IP range.</li></ul>"
                                            {% endif %}
                                        >
                                            <i class="now-ui-icons ui-1_simple-add mr-1"></i> Add hosts
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-left">
                                            <a class="dropdown-item" href="/workers/{{worker.id}}/machines/add/batch">Batch mode</a>
                                            <a class="dropdown-item" href="/workers/{{worker.id}}/machines/add/range">IP Range</a>
                                        </div>
                                    </div>
                                    <a href="/workers/{{worker.id}}/machines/edit" class="ml-2">
                                        <button
                                            class="btn btn-outline-primary"
                                            {% if forloop.counter0 == 0 %}
                                                data-helper="5"
                                                data-placement="bottom"
                                                title="Edit hosts"
                                                data-content="Click here to remove users from worker and/or change settings like the scanning level."
                                            {% endif %}
                                        >
                                            <i class="now-ui-icons design-2_ruler-pencil mr-1"></i> Edit hosts
                                        </button>
                                    </a>
                                    <a href="/workers/{{worker.id}}/logs" class="ml-2">
                                        <button
                                            class="btn btn-outline-primary"
                                            {% if forloop.counter0 == 0 %}
                                                data-helper="6"
                                                data-placement="bottom"
                                                title="Scanning logs"
                                                data-content="In this page you can check the logs of the tools used to scan this host for debugging purposes."
                                            {% endif %}
                                        >
                                            <i class="now-ui-icons text_align-center mr-1"></i> Scanning logs
                                        </button>
                                    </a>
                                </div>
                            </div>
                            <div
                                class="collapse"
                                aria-labelledby="workerMachines{{worker.id}}Collapse"
                                id="workerMachines{{worker.id}}"
                                data-parent="#workers"
                            >
                                <div class="table-responsive col-12 my-4">
                                    <table class="table table-discreet workersTable" id="table{{worker.id}}">
                                        <thead class=" text-primary">
                                            <th>Machine</th>
                                            <th>Location</th>
                                            <th>Scan level</th>
                                            <th>Risk</th>
                                            <th>Periodicity</th>
                                            <th>Next scan</th>
                                        </thead>
                                        <tbody>
                                                {% for machineworker in worker.machines.all|dictsort:"machine.nextScan" %}
                                                    {% with machine=machineworker.machine %}
                                                        <tr title="See machine page" onClick="window.location='/machines/{{machine.id}}'">
                                                            <td>{{machine}}</td>
                                                            <td>{% if machine.location %}{{machine.location}}{% endif %}</td>
                                                            <td><span class="badge p-2 bg-{{machine.scanLevel}}">{{machine.get_scanLevel_display}}</span></td>
                                                            <td>
                                                                <span class="badge p-2 bg-{{machine.risk}}">{% if machine.risk != '0' %}{{machine.risk}}{% else %}undefined{% endif %}</span>
                                                            </td>
                                                            <td>{{machine.get_periodicity_display}}</td>
                                                            <td>{{machine.nextScan|date:"Y/m/d"}}</td>
                                                        </tr>
                                                    {% endwith %}
                                                {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                        </div>
                        {% else %}
                            <div class="mt-3 d-flex flex-row">
                                <h5 class="text-warning">No hosts associated!</h5>
                                <div class="dropdown ml-auto dropdown-free">
                                    <button
                                        class="btn btn-outline-warning"
                                        data-toggle="dropdown"
                                    >
                                        <i class="now-ui-icons ui-1_simple-add mr-2"></i> Add hosts
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="/workers/{{worker.id}}/machines/add/batch">Batch mode</a>
                                        <a class="dropdown-item" href="/workers/{{worker.id}}/machines/add/range">IP Range</a>
                                    </div>
                                </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-footer mt-auto">
                        <div class="stats">
                            <i class="now-ui-icons arrows-1_refresh-69"></i> <span class="refresh-counter"></span>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12 p-0 d-flex">
                <div class="card card-chart d-flex flex-column">
                    <div class="card-header">
                        <h5 class="card-category"></h5>
                        <h4 class="card-title">No workers found!</h4>
                    </div>
                    <div class="card-body d-flex flex-column">
                        {% if filter %}
                            <p>Try to filter by other status.</p>
                        {% else %}
                            <p>There are no workers registered in the database.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

{% block scripts %}
    <!-- Editable -->
    <script src="{% static 'assets/js/plugins/bootstrap-editable.min.js' %}"></script>
    <!-- Data Tables Script -->
    <script src="{% static 'assets/js/plugins/datatables.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'workers/workers.js' %}"></script>
    <script src="{% static 'assets/js/refresh.js' %}"></script>

    <script>
        {% if workers and machinesWithoutWorker or filter and machinesWithoutWorker %}
            showNotification(
                "There are {{machinesWithoutWorker}} hosts without a worker!",
                "Click <a class=\"text-white font-weight-bold\" href=\"/workers/machineslost\">here</a> to see the full list and associate them to a worker.",
                "warning",
                "ui-2_settings-90"
            );
        {% endif %}
        {% if machinesAdded %}
            showNotification(
                "Changes applied to worker {{machinesAdded.worker}}!",
                "{{machinesAdded.machines}} hosts where associated, {{machinesAdded.new}} new hosts were created, {{machinesAdded.edited}} edited and {{machinesAdded.disassociated}} disassociated with success!",
                "success",
                "tech_laptop"
            );
        {% endif %}
        {% if workersMachines %}
            showNotification(
                "Changes applied with success",
                "The hosts will be scanned by the selected workers from now on.",
                "success",
                "tech_laptop"
            );
        {% endif %}
    </script>
{% endblock scripts %}