/* Content */
body{min-height: 100vh}
.content { min-height: 0!important; }
small, .small { font-size: 60%!important; }

/* Navbar */
.navbar-collapse {
    background-color: #000;
}

/* Alerts */

.alert.alert-success {
    background-color: #92d400;
}

.alert.alert-danger {
    background-color: #f0592a;
}

.alert.alert-warning {
    background-color: #f3b21b;
}

.alert.alert-info {
    background-color: #42d3b8;
}

.alert.alert-primary {
    background-color: #92d400;
}

/* Buttons */
.btn-primary {
    background-color: #92d400;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:active:hover,
.btn-primary.active:hover,
.show>.btn-primary.dropdown-toggle,
.show>.btn-primary.dropdown-toggle:focus,
.show>.btn-primary.dropdown-toggle:hover {
    background-color: #7ab300;
    border-color: #7ab300;
}

.btn-primary.disabled,
.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled.active,
.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
.btn-primary:disabled:active,
.btn-primary:disabled.active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary.active {
    background-color: #92d400;
    border-color: #92d400;
}

.btn-success {
    background-color: #92d400;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active:focus,
.btn-success:not(:disabled):not(.disabled).active:focus,
.btn-success:active:hover,
.btn-success.active:hover,
.show>.btn-success.dropdown-toggle,
.show>.btn-success.dropdown-toggle:focus,
.show>.btn-success.dropdown-toggle:hover {
    background-color: #7ab300;
    color: #FFFFFF;
    box-shadow: none;
    border-color: #7ab300;
}

.btn-success.disabled,
.btn-success.disabled:hover,
.btn-success.disabled:focus,
.btn-success.disabled.focus,
.btn-success.disabled:active,
.btn-success.disabled.active,
.btn-success:disabled,
.btn-success:disabled:hover,
.btn-success:disabled:focus,
.btn-success:disabled.focus,
.btn-success:disabled:active,
.btn-success:disabled.active,
.btn-success[disabled],
.btn-success[disabled]:hover,
.btn-success[disabled]:focus,
.btn-success[disabled].focus,
.btn-success[disabled]:active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success,
fieldset[disabled] .btn-success:hover,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:active,
fieldset[disabled] .btn-success.active {
background-color: #92d400;
border-color: #92d400;
}

.btn-info {
    background-color: #42d3b8;
    color: #FFFFFF;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active:focus,
.btn-info:not(:disabled):not(.disabled).active:focus,
.btn-info:active:hover,
.btn-info.active:hover,
.show>.btn-info.dropdown-toggle,
.show>.btn-info.dropdown-toggle:focus,
.show>.btn-info.dropdown-toggle:hover {
    background-color: #2cbaa0;
    border-color: #2cbaa0;
}

.btn-info.disabled,
.btn-info.disabled:hover,
.btn-info.disabled:focus,
.btn-info.disabled.focus,
.btn-info.disabled:active,
.btn-info.disabled.active,
.btn-info:disabled,
.btn-info:disabled:hover,
.btn-info:disabled:focus,
.btn-info:disabled.focus,
.btn-info:disabled:active,
.btn-info:disabled.active,
.btn-info[disabled],
.btn-info[disabled]:hover,
.btn-info[disabled]:focus,
.btn-info[disabled].focus,
.btn-info[disabled]:active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info,
fieldset[disabled] .btn-info:hover,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:active,
fieldset[disabled] .btn-info.active {
    background-color: #42d3b8;
    border-color: #42d3b8;
}

.btn-warning {
    background-color: #f3b21b;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active:focus,
.btn-warning:not(:disabled):not(.disabled).active:focus,
.btn-warning:active:hover,
.btn-warning.active:hover,
.show>.btn-warning.dropdown-toggle,
.show>.btn-warning.dropdown-toggle:focus,
.show>.btn-warning.dropdown-toggle:hover {
    background-color: #da9c0b;
    border-color: #da9c0b;
}

.btn-warning.disabled,
.btn-warning.disabled:hover,
.btn-warning.disabled:focus,
.btn-warning.disabled.focus,
.btn-warning.disabled:active,
.btn-warning.disabled.active,
.btn-warning:disabled,
.btn-warning:disabled:hover,
.btn-warning:disabled:focus,
.btn-warning:disabled.focus,
.btn-warning:disabled:active,
.btn-warning:disabled.active,
.btn-warning[disabled],
.btn-warning[disabled]:hover,
.btn-warning[disabled]:focus,
.btn-warning[disabled].focus,
.btn-warning[disabled]:active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning,
fieldset[disabled] .btn-warning:hover,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:active,
fieldset[disabled] .btn-warning.active {
    background-color: #f3b21b;
    border-color: #f3b21b;
}

.btn-danger {
    background-color: #FF3636;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:not(:disabled):not(.disabled):active,
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:not(:disabled):not(.disabled).active:focus,
.btn-danger:active:hover,
.btn-danger.active:hover,
.show>.btn-danger.dropdown-toggle,
.show>.btn-danger.dropdown-toggle:focus,
.show>.btn-danger.dropdown-toggle:hover {
    background-color: #d73e0f;
    border-color: #d73e0f;
}

.btn-danger.disabled,
.btn-danger.disabled:hover,
.btn-danger.disabled:focus,
.btn-danger.disabled.focus,
.btn-danger.disabled:active,
.btn-danger.disabled.active,
.btn-danger:disabled,
.btn-danger:disabled:hover,
.btn-danger:disabled:focus,
.btn-danger:disabled.focus,
.btn-danger:disabled:active,
.btn-danger:disabled.active,
.btn-danger[disabled],
.btn-danger[disabled]:hover,
.btn-danger[disabled]:focus,
.btn-danger[disabled].focus,
.btn-danger[disabled]:active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger,
fieldset[disabled] .btn-danger:hover,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:active,
fieldset[disabled] .btn-danger.active {
    background-color: #f0592a;
    border-color: #f0592a;
}

.btn-outline-primary {
    color: #92d400;
    border-color: #92d400;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:active:hover,
.btn-outline-primary.active:hover,
.show>.btn-outline-primary.dropdown-toggle,
.show>.btn-outline-primary.dropdown-toggle:focus,
.show>.btn-outline-primary.dropdown-toggle:hover {
    background-color: #92d400;
    color: #ffffff;
    border-color: #92d400;
    box-shadow: none;
}

/* Bachgrounds */

.bg-primary { background-color: #92d400 !important; }
.bg-info { background-color: #42d3b8 !important; }
.bg-success { background-color: #92d400 !important; }
.bg-danger { background-color: #f0592a !important; }
.bg-warning { background-color: #f3b21b !important; }

.bg-1 { background-color: #92d400 !important }
.bg-2 { background-color: #7ab300 !important }
.bg-3 { background-color: #578000 !important }
.bg-4 { background-color: #344d00 !important }
.bg-5 { background-color: #111a00 !important }

.bg-blur-primary { background-color: rgba(146, 212, 0, .6)!important;}

.bg-outline-primary { color: #92d400; border: 1px solid #92d400; transition: .15s;}
a.bg-outline-primary:hover { color: #ffffff!important; background-color: #92d400; border: 1px solid #92d400; }

/* Borders */
.border-primary { border-color: #92d400 !important; }
.border-info { border-color: #42d3b8 !important; }
.border-success { border-color: #92d400 !important; }
.border-danger { border-color: #f0592a !important; }
.border-warning { border-color: #f3b21b !important; }

/* Text */

.text-primary,
a.text-primary:focus,
a.text-primary:hover {
  color: #92d400 !important;
}

.text-info,
a.text-info:focus,
a.text-info:hover {
  color: #42d3b8 !important;
}

.text-success,
a.text-success:focus,
a.text-success:hover {
  color: #92d400 !important;
}

.text-warning,
a.text-warning:focus,
a.text-warning:hover {
  color: #f3b21b !important;
}

.text-danger,
a.text-danger:focus,
a.text-danger:hover {
  color: #f0592a !important;
}

/* Qoute */
.blockquote.blockquote-primary {
    border-color: #92d400;
    color: #92d400;
}

.blockquote.blockquote-primary small{
    color: #92d400;
}

/* Forms */
.form-control:focus {
    border: 1px solid #92d400;
}

textarea.form-control { max-height: none!important; }

select {
    background-color: transparent;
    border: 1px solid #E3E3E3;
    border-radius: 30px;
    color: #2c2c2c;
    line-height: normal;
    height: auto;
    font-size: 0.8571em;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 10px 18px 10px 18px;
}
select:hover {cursor:pointer;}

form.form-lg label {width:100%;}
form.form-lg textarea {width:100%;}
form ul.errorlist {
    list-style: none;
    color:#f0592a;
    padding: 0;
}

/* Forms // checkbox styling */
label.checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    line-height: 26px;
    margin-bottom: 0;
    transition: color .3s linear;
    font-size: .8571em;
    width: 26px;
    height: 26px;
}
label.checkbox>input[type="checkbox"], label.checkbox>input[type="radio"] {
    opacity: 0;
    z-index: 10;
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    overflow: visible;
}
label.checkbox>input[type="checkbox"]+span.checkmark::after, label.checkbox>input[type="checkbox"]+span.checkmark::before,
label.checkbox>input[type="radio"]+span.checkmark::after, label.checkbox>input[type="radio"]+span.checkmark::before {
    content: " ";
    display: inline-block;
    position: absolute;
    width: 26px;
    height: 26px;
    left: 0;
    cursor: pointer;
    border-radius: 3px;
    top: 0;
    background-color: transparent;
    border: 1px solid #e3e3e3;
    transition: opacity .3s linear;
    box-sizing: border-box;
}
label.checkbox>input[type="radio"]+span.checkmark::after, label.checkbox>input[type="radio"]+span.checkmark::before {
    border-radius: 50%!important;
}
label.checkbox>input[type="checkbox"]+span.checkmark::after,
label.checkbox>input[type="radio"]+span.checkmark::after {
    font-family: Nucleo Outline;
    content: "\ea22";
    top: 0;
    text-align: center;
    font-size: 14px;
    opacity: 0;
    color: #555;
    border: 0;
    background-color: inherit;
}
label.checkbox>input[type="checkbox"]:checked+span.checkmark::after,
label.checkbox>input[type="radio"]:checked+span.checkmark::after {
    opacity: 1;
}


/* General elements */
body {
    background-color: #ebecf1;
}
a {
    color: #92d400;
}
a:hover, a:focus {
    color: #7ab300!important;
}

/* Tables */
table.table-discreet tbody tr { color: #9A9A9A!important;}

table.table-discreet tbody tr:hover {
    cursor: pointer;
    color: #000!important;
}

table.table-discreet tbody tr .bg-1 { background-color: rgba(146, 212, 0, .6)!important;}
table.table-discreet tbody tr .bg-2 { background-color: rgba(122, 179, 0, .6)!important;}
table.table-discreet tbody tr .bg-3 { background-color: rgba(87, 128, 0, .6)!important;}
table.table-discreet tbody tr .bg-4 { background-color: rgba(52, 77, 0, .6)!important;}
table.table-discreet tbody tr .bg-5 { background-color: rgba(17, 26, 0, .6)!important;}
table.table-discreet tbody tr .bg-primary { background-color: rgba(146, 212, 0, .6)!important;}
table.table-discreet tbody tr .bg-danger { background-color: rgba(240, 89, 42, .6)!important;}
table.table-discreet tbody tr .text-primary { color: rgba(146, 212, 0, .6)!important;}
table.table-discreet tbody tr .text-danger { color: rgba(240, 89, 42, .6)!important;}

table.table-discreet tbody tr:hover .bg-1 { background-color: rgba(146, 212, 0, 1)!important;}
table.table-discreet tbody tr:hover .bg-2 { background-color: rgba(122, 179, 0, 1)!important;}
table.table-discreet tbody tr:hover .bg-3 { background-color: rgba(87, 128, 0, 1)!important;}
table.table-discreet tbody tr:hover .bg-4 { background-color: rgba(52, 77, 0, 1)!important;}
table.table-discreet tbody tr:hover .bg-5 { background-color: rgba(17, 26, 0, 1)!important;}
table.table-discreet tbody tr:hover .bg-primary { background-color: rgba(146, 212, 0, 1)!important;}
table.table-discreet tbody tr:hover .bg-danger { background-color: rgba(240, 89, 42, 1)!important;}
table.table-discreet tbody tr .text-primary { color: rgba(146, 212, 0, 1)!important;}
table.table-discreet tbody tr .text-danger { color: rgba(240, 89, 42, 1)!important;}

/* Dictionaries */
/* Based on https://stackoverflow.com/questions/1713048/how-to-style-dt-and-dd-so-they-are-on-the-same-line */
dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0
}
dl.dl-12 dt {width: 25%}
dl.dl-12 dd {width: 75%}
dl.dl-line dt {width: 100%}
dl.dl-line dd {width: 100%}
/* Login */
.panel-login {
    min-height: 100vh;
    overflow-y: scroll;
}

/* Progress */
.progress {
    line-height: inherit!important;
}
@-webkit-keyframes .progress {
   0% { width: 0; }
}
@-moz-keyframes .progress {
   0% { width: 0; }
}
keyframes .progress {
   0% { width: 0; }
}

.progress > .progress-bar {
  -webkit-animation: progress-bar 2s;
  -moz-animation: progress-bar 2s;
  animation: progress-bar 2s;
  margin-right: .5rem;
}

@keyframes progress-bar {
   0% { width: 0; }
}

/* Charts */
.card-chart .chart-area {height:auto!important}

/* Modals */
.modal-header {border-bottom: none!important;}
.modal-footer {border-top: none!important;}

/* Pophover */
.popover, .popover-header {font-size: inherit!important; font-weight:inherit!important;}

/* Dropdown */
.dropdown.dropdown-free {
    position: relative!important;
    top: inherit!important;
    right: inherit!important;
    left: inherit!important;
}
.dropdown-menu.dropdown-menu-left.dropdown-reverse::before {
    left: 90%!important;
}
.dropdown-menu.dropdown-menu-right.dropdown-reverse::before {
    right: 90%!important;
}

/* Bootstrap fixes */
.col-1 { flex-basis: auto!important; }
.col-2 { flex-basis: auto!important; }
.col-3 { flex-basis: auto!important; }
.col-4 { flex-basis: auto!important; }
.col-5 { flex-basis: auto!important; }
.col-6 { flex-basis: auto!important; }
.col-7 { flex-basis: auto!important; }
.col-8 { flex-basis: auto!important; }
.col-9 { flex-basis: auto!important; }
.col-10 { flex-basis: auto!important; }
.col-11 { flex-basis: auto!important; }
.col-12 { flex-basis: auto!important; }

/* template.css fixes */
.content { padding:0!important; }