{% extends "dashboard/base.html" %}
{% load static %}

{% block meta %}
    <title>Secure(ua)ll | Machines</title>
{% endblock meta %}

{% block headerClass %}{% endblock headerClass %}

{% block header %}
<div class="header text-center my-auto">
    <h2 class="title">
        Host | {{machine}}
        {% if not machine.active %}
            <span
                class="badge p-2 bg-secondary"
                data-bs-toggle="tooltip"
                data-bs-placement="bottom"
                title="This machine was archived because a scan detected a DNS change. A new machine was created with the new DNS."
            >
                Archived
                <small><i class="now-ui-icons travel_info ml-1"></i></small>
            </span>
        {% endif %}
    </h2>
</div>  
{% endblock header %}

{% block styles %}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link href="{% static 'assets/css/plugins/datatables.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}

<!-- Row Latest updates -->
<div class="row mb-auto">
    <div class="col-6 d-flex pl-0">
        <div class="card">
            <div class="card-body">
                <div class="my-auto">
                    <h6 class="mt-3 pb-4">Host General Information</h6>
                    <!-- Machine General Information -->

                    {# Key/value dictionary #}
                    <div class="row mx-0">
                        <div class="d-flex col-md-12 p-0 text-secondary">
                            <dl class="col-md-6 p-0">
                                <dt>IP</dt>
                                <dd>
                                    {% if machine.ip %}
                                        {{machine.ip}}
                                    {% else %}
                                        No ip.
                                    {% endif %}
                                </dd>
                                <dt>DNS</dt>
                                <dd>
                                    {% if machine.dns %}
                                        {{machine.dns}}
                                    {% else %}
                                        No dns.
                                    {% endif %}
                                </dd>
                                <dt>Registered</dt>
                                <dd>{{machine.created}}</dd>
                            </dl>
                            <dl class="col-md-6 p-0">
                                <dt>OS</dt>
                                <dd>{{machine.os}}</dd>
                                <dt>Risk</dt>
                                {% if machine.risk == '1' %}
                                    <dd><span class="badge p-2 bg-primary">1</span></dd>
                                {% elif machine.risk == '2' %}
                                    <dd><span class="badge p-2 bg-info">2</span></dd>
                                {% elif machine.risk == '3' %}
                                    <dd><span class="badge p-2 bg-alarm">3</span></dd>
                                {% elif machine.risk == '4' %}
                                    <dd><span class="badge p-2 bg-warning">4</span></dd>
                                {% elif machine.risk == '5' %}
                                    <dd><span class="badge p-2 bg-danger">5</span></dd>
                                {% endif %}
                            </dl>
                        </div>
                    </div>

                    {# Owners/Subscribers #}
                    <div class="d-flex flex-row text-secondary mt-5">
                        <div class="col-md-6 p-0 d-flex flex-column">
                            <dl class="dl-line">
                                <dt>Owners</dt>
                                <dd>
                                    <div class="table-responsive d-flex">
                                        <table class="table table-discreet table-users" id="ownersTable">
                                            <tbody>
                                            {% for key, value in machine_users.items %}
                                                {% if key == 'O' %}
                                                    {% for v in value %}
                                                        <tr><td>{{v}}</td></tr>
                                                    {% empty %}
                                                        <span class="col-12 p-0">No owners yet.</span>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </dd>
                            </dl>
                            {% if user_type == 'O' or user_type == 'A' %}
                                <button class="btn btn-outline-primary mt-auto mr-auto" data-toggle="modal" data-target="#addUserModal" id="addNewOwner"><i class="now-ui-icons ui-1_simple-add mr-2"></i>Add owner</button>
                            {% endif %}
                        </div>
                        <div class="col-md-6 p-0 d-flex flex-column">
                            <dl class="dl-line">
                                <dt>Subscribers</dt>
                                <dd>
                                    <div class="table-responsive d-flex">
                                        <table class="table table-discreet table-users" id="subscribersTable">
                                            <tbody>
                                            {% for key, value in machine_users.items %}
                                                {% if key == 'S' %}
                                                    {% for v in value %}
                                                        <tr><td>{{v}}</td></tr>
                                                    {% empty %}
                                                        <span class="col-12 p-0">No subscribers yet.</span>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </dd>
                            </dl>
                            {% if user_type == 'O' or user_type == 'A' %}
                                <button class="btn btn-outline-primary mr-auto mt-auto" data-toggle="modal" data-target="#addUserModal" id="addNewSubscriber"><i class="now-ui-icons ui-1_simple-add mr-2"></i>Add subscriber</button>
                            {% endif %}
                        </div>
                    </div>
                    <!-- End Machine General Information -->
                </div>
                <div class="row">
                    <!-- Owners and Subscribers -->
                    <div class="my-auto">
                        <div class="row">

                        </div>

                    </div>
                    <!-- End Owners and Subscribers -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-6 pr-0 d-flex">
        <div class="card">
            <div class="card-body">
                <!-- Open Ports -->
                <div class="my-auto">
                    <h6 class="mt-3">Open Ports</h6>
                    <div class="table-responsive col-12 p-0">
                        <table class="table table-discreet" id="openPorts">
                            <thead class=" text-primary">
                                <th>Number</th>
                                <th>Service</th>
                                <th>Version</th>
                                <th>Vulnerable</th>
                            </thead>
                            <tbody>
                            {% for port in machine.ports.all %}
                                <tr {% if port.vulnerable %} class="text-danger" {% endif %}>
                                    <td>{{port.port}}</td>
                                    <td>{{port.service.service}}</td>
                                    <td>{{port.service.version}}</td>
                                    <td>{{port.vulnerable}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- End Open Ports -->
            </div>
        </div>
    </div>
</div>
<!-- End Row Latest updates -->

<!-- Row Graphs -->
<div class="row mb-auto">
    <!-- Pie Chart -->
    <div class="col-6 d-flex pl-0">
        <div class="card card-chart">
            <div class="card-header">
                <div class="my-auto">
                    <div class="mb-3 d-flex justify-content-between">
                        <h6 class="mt-3 mr-auto">Vulnerabilities per Risk Level</h6>
                        <div class="dropdown p-2">
                            <button type="button"
                                class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
                                data-toggle="dropdown">
                                <i class="now-ui-icons arrows-1_minimal-down"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" onclick="filterVulnPerRisk('last scan')">Last scan</a>
                                <a class="dropdown-item" onclick="filterVulnPerRisk('all scans')">All scans</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body my-auto">
                <div class="chart-area my-auto">
                    <canvas id="vulnerabilitiesByRiskLevel"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="now-ui-icons arrows-1_refresh-69"></i>
                    <span id="pieChartFilter">All scans</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pie Chart -->

    <!-- Line Graph -->  
    <div class="col-6 d-flex pr-0">
        <div class="card card-chart">
            <div class="card-header">
                <div class="my-auto">
                    <div class="mb-3 d-flex">
                        <h6 class="mt-3 mr-auto">Vulnerabilities per scan</h6>
                   <!-- <div class="dropdown p-2">
                            <button type="button"
                                class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
                                data-toggle="dropdown">
                                <i class="now-ui-icons arrows-1_minimal-down"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item">Last scan</a>
                                <a class="dropdown-item">All scans</a>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="lineChart"></canvas>
                    </div>
                </div>
                <div class="card-footer pt-2">
                    <div class="stats">
                        <i class="now-ui-icons arrows-1_refresh-69"></i> Last scan
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Line Graph -->
</div>
<!-- End Row Graphs -->

<!-- Vulnerabilities Report -->
<div class="row">
    <div class="card card-chart">
        <div class="card-header pb-3 ">
            <h5 class="card-category"></h5>
            <h4 class="card-title" id="vulnreports">Vulnerability Report</h4>
            <div class="dropdown">
                <button type="button"
                    class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
                    data-toggle="dropdown">
                    <i class="now-ui-icons arrows-1_minimal-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item">Last scan</a>
                    <a class="dropdown-item">All scans</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text" id="vulnerabilitiesTableFilterText">No filter applied to table. To filter by risk level click on the risk slice in the graph above.</p>
            <div class="d-flex flex-row mb-3">
                <button type="button" class="btn btn-primary mr-2 d-none" id="clearFilterVulnerabilities">
                    <i class="now-ui-icons ui-1_simple-remove mr-2"></i>Clear Filters
                </button>
                {% if user_type == 'O' or user_type == 'A' %}
                    <button type="button" class="btn btn-outline-primary mr-2" onclick="scanNow();">
                        <i class="now-ui-icons arrows-1_refresh-69 mr-2"></i>Scan Host Now
                    </button>
                {% endif %}
                <a href="/machines/{{machine.id}}/logs">
                    <button type="button" class="btn btn-outline-primary mr-2">
                        <i class="now-ui-icons text_align-center mr-2"></i>See scanning logs
                    </button>
                </a>
            </div>
            <!-- Row Next Scan -->
            <div class="d-flex flex-row pb-3">
                <div class="col-6 p-0 text-secondary my-auto">
                    <form method="POST" action="?periodicity=true&goto=vulnreports"> {% csrf_token %}
                        <dl class="dl-12">
                            <dt>Next scan </dt>
                            <dd>{{machine.nextScan}}</dd>
                        </dl>
                        <dl class="dl-12">
                            <dt>Periodicity </dt>
                            {% if user_type == 'O' or user_type == 'A' %}
                                <dd>
                                    <select name="machine_periodicity" id="periodicitySelect" type="text"
                                    class="dropdown-toggle text-secondary text-center" data-toggle="dropdown" aria-expanded="false">
                                    <option value = "Daily" {% if machine.get_periodicity_display == 'Daily' %}selected="selected"{% endif %}>Daily</option>
                                    <option value = "Weekly" {% if machine.get_periodicity_display == 'Weekly' %}selected="selected"{% endif %}>Weekly</option>
                                    <option value = "Monthly" {% if machine.get_periodicity_display == 'Monthly' %}selected="selected"{% endif %}>Monthly</option>
                                    </select>
                                    <button class="btn btn-outline-default" type="submit" id="periodicitySubmit">Apply</button>
                                </dd>
                            {% else %}
                                <dd>
                                    {{machine.get_periodicity_display}}
                                </dd>
                            {% endif %}
                        </dl>
                    </form>
                </div>
                <div class="col-6 text-secondary my-auto">
                    <form method="POST" action="?scanlevel=true&goto=vulnreports"> {% csrf_token %}
                        <dl class="dl-12">
                            <dt>Scan level </dt>
                            {% if user_type == 'O' or user_type == 'A' %}
                                <dd>
                                    <select name="machine_scanlevel" id="scanLevelSelect" type="button"
                                    class="btn btn-sm dropdown-toggle my-0 mx-2
                                    {% if machine.scanLevel == '1' %} btn-info"
                                    {% elif machine.scanLevel == '2' %} btn-alarm"
                                    {% elif machine.scanLevel == '3' %} btn-warning"
                                    {% elif machine.scanLevel == '4' %} btn-danger"
                                    {% endif %} data-toggle="dropdown" aria-expanded="false">
                                    <option value = "1" {% if machine.scanLevel == '1' %}selected="selected"{% endif %}>1</option>
                                    <option value = "2" {% if machine.scanLevel == '2' %}selected="selected"{% endif %}> 2</option>
                                    <option value = "3" {% if machine.scanLevel == '3' %}selected="selected"{% endif %}> 3</option>
                                    <option value = "4" {% if machine.scanLevel == '4' %}selected="selected"{% endif %}> 4</option>
                                    </select>
                                    <button class="btn btn-outline-default my-0" type="submit" id="scanLevelSubmit">Apply</button>
                                </dd>
                            {% else %}
                                <dd>
                                    {% if machine.scanLevel == '1' %}
                                    <dd><span class="badge p-2 bg-primary">1</span></dd>
                                    {% elif machine.scanLevel == '2' %}
                                    <dd><span class="badge p-2 bg-info">2</span></dd>
                                    {% elif machine.scanLevel == '3' %}
                                    <dd><span class="badge p-2 bg-alarm">3</span></dd>
                                    {% elif machine.scanLevel == '4' %}
                                    <dd><span class="badge p-2 bg-warning">4</span></dd>
                                    {% endif %}
                                </dd>
                            {% endif %}
                        </dl>
                    </form>
                </div>
            </div>
            <div class="">
                <!-- End Row Next Scan -->
                <div class="table-responsive">
                    <table class="table table-discreet table-vulnerabilities" id="vulnerabilitiesTable">
                        <thead class=" text-primary">
                            <th>Risk</th>
                            <th>Type</th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Comments</th>
                            <th style="display:none">Scan ID</th>
                            <th style="display:none">Vulnerability ID</th>
                        </thead>
                        <tbody>
                            {% for vuln in machine.vulnerabilities.all %}
                            <tr>
                                <td class="vuln-risk">
                                {% if vuln.risk == 0 %}
                                    <span class="badge p-2 bg-secondary">unclassified</span>
                                {% elif vuln.risk == 1 %}
                                    <span class="badge p-2 bg-primary">1</span>
                                {% elif vuln.risk == 2 %}
                                    <span class="badge p-2 bg-info">2</span>
                                {% elif vuln.risk == 3 %}
                                    <span class="badge p-2 bg-alarm">3</span>
                                {% elif vuln.risk == 4 %}
                                    <span class="badge p-2 bg-warning">4</span>
                                {% elif vuln.risk == 5 %}
                                    <span class="badge p-2 bg-danger">5</span>
                                {% endif %}
                                </td>
                                <td class="vuln-type">{{vuln.type}}</td>
                                <td class="vuln-date">{{vuln.scan.date}}</td>
                                <td class="vuln-desc">{{vuln.description}}</td>
                                <td class="vuln-location">{{vuln.location}}</td>
                                <td class="vuln-status">
                                {% if vuln.status == 'Fixed' %}
                                    <span class="badge p-2 bg-primary text-center" style="width: 4rem;">Fixed</span>
                                {% elif vuln.status == 'Not Fixed' %}
                                    <span class="badge p-2 bg-danger text-center" style="width: 4rem;">Not Fixed</span>
                                {% elif vuln.status == 'Fixing' %}
                                    <span class="badge p-2 bg-warning text-center" style="width: 4rem;">Fixing</span>
                                {% elif vuln.status == 'Invalid' %}
                                    <span class="badge p-2 bg-default text-center" style="width: 4rem;">Invalid</span>
                                {% endif %}
                                </td>
                                <td class="align-middle">
                                    <div class="ms-auto">
                                        <button class="btn btn-sm btn-outline-primary" title="Add comment" data-toggle="modal" data-target="#vulnCommentModal"><i class="now-ui-icons ui-1_simple-add"></i></button>
                                    </div>
                                </td>
                                <td class="vuln-scanid" style="display:none">{{vuln.scan_id}}</td>
                                <td class="vuln-id" style="display:none">{{vuln.id}}</td>
                            </tr>
                            {% empty %}
                                <span>No vulnerabilities to show.</span>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between">
                <div class="stats">
                    <i class="now-ui-icons ui-2_time-alarm"></i> Last 7 days
                </div>
                <div class="stats">
                    Last scan done by worker <span class="text-muted font-weight-bold">{{machine.scans.last}}</span> 0 erros reported.
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Vulnerability comments -->
    {% for scan in scanset %}
        {% if scan.vulnerabilities.all %}
            {% for vuln in scan.vulnerabilities.all %}
            <div class="modal fade" id="vuln{{vuln.id}}CommentModalScan{{scan.id}}" tabindex="-1" role="dialog" aria-labelledby="vulnCommentModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="vulnCommentModalLongTitle">Vulnerability Comments</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                            <div class="d-flex flex-row pb-3">
                                <div class="col-3 p-0 text-secondary">
                                    <dl class="dl-line">
                                        <dt class="pb-0">Vulnerability</dt>
                                        <dd id="vuln{{vuln.id}}TypeModalScan{{scan.id}}" class="pb-2"></dd>
                                    </dl>
                                </div>
                                <div class="col-3 p-0  text-secondary">
                                    <dl class="dl-line">
                                        <dt class="pb-0">Date</dt>
                                        <dd id="vuln{{vuln.id}}DateModalScan{{scan.id}}" class="pb-2"></dd>
                                    </dl>
                                </div>
                                <div class="col-6 p-0 text-secondary my-auto">
                                    <dl class="d-flex flex-column">
                                        <dt class="pb-0">Status</dt>
                                        <dd class="flex-row d-flex pb-2">
                                            <select name="machine_status" id="vuln{{vuln.id}}StatusSelectionModalScan{{scan.id}}"
                                            type="button" class="btn text-center dropdown-toggle
                                            {% if vuln.status == 'Fixed' %} btn-primary" 
                                            {% elif vuln.status == 'Not Fixed' %} btn-danger" 
                                            {% elif vuln.status == 'Fixing' %} btn-warning" 
                                            {% elif vuln.status == 'Invalid' %} btn-default" 
                                            {% endif %} data-toggle="dropdown" aria-expanded="false"
                                            style="width: 7rem;">
                                            <option value = "Fixed" {% if vuln.status == 'Fixed' %}selected="selected"{% endif %}>Fixed</option>
                                            <option value = "Not Fixed" {% if vuln.status == 'Not Fixed' %}selected="selected"{% endif %}>Not Fixed</option>
                                            <option value = "Fixing" {% if vuln.status == 'Fixing' %}selected="selected"{% endif %}>Fixing</option>
                                            <option value = "Invalid" {% if vuln.status == 'Invalid' %}selected="selected"{% endif %}>Invalid</option>
                                            </select>
                                            <button class="btn btn-outline-default vuln-status" type="submit" id="vuln{{vuln.id}}StatusSubmitModalScan{{scan.id}}">Apply</button>
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="col-12 p-0 pb-3 text-secondary my-auto">
                                <dl class="dl-line">
                                    <dt class="pb-0">Description</dt>
                                    <dd id="vuln{{vuln.id}}DescModalScan{{scan.id}}" class="pb-2"></dd>
                                </dl>
                            </div>
                            <div class="table-responsive col-12 p-0">
                                <table class="table table-discreet" id="vuln{{vuln.id}}CommentsScan{{scan.id}}">
                                    <thead class=" text-primary">
                                        <th data-field="Date">Date</th>
                                        <th data-field="user">User</th>
                                        <th data-field="comment">Comment</th>
                                    </thead>
                                    <tbody>
                                    {% if vuln.comments.all %}
                                        {% for comment in vuln.comments.all  %}
                                        <tr>
                                            <td>{{comment.created}}</td>
                                            <td>
                                            {% for u in users %}
                                                {% if u.id == comment.user_id%} {{u.email}} {% endif %}
                                            {% endfor %}
                                            </td>
                                            <td>{{comment.comment}}</td>
                                        </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="mb-3 form-group">
                                <label for="addVuln{{vuln.id}}CommentUserScan{{scan.id}}" class="form-label">User</label>
                                <input type="text" readonly class="form-control" id="addVuln{{vuln.id}}CommentUserScan{{scan.id}}" value="{{logged_user.email}}">
                            </div>
                            <div class="mb-3 form-group">
                                <label for="addVuln{{vuln.id}}CommentDescriptionScan{{scan.id}}" class="form-label">Comment</label>
                                <textarea class="form-control" type="text" id="addVuln{{vuln.id}}CommentDescriptionScan{{scan.id}}" rows="3" required></textarea>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary add-user-comment" value="Add comment">
                        <button type="button"class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <!-- End Modal Vulnerability comments -->

    <!-- Modal New subscription-->
    <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addUserModalLongTitle">New subscription</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div class="mb-3 form-group">
                            <label for="addUser" class="form-label">Role</label>
                            <input type="text" readonly class="form-control" id="addUser" value="">
                        </div>
                        <div class="mb-3 form-group">
                            <label for="newUserEmail" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="newUserEmail" placeholder="user@ua.pt" required>
                            </input>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="newUserDescription" class="form-label">Motive</label>
                            <textarea class="form-control" type="text" id="newUserDescription" rows="4" required></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveNewUser" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal New subscription -->

    <!-- Modal edit user -->
    <div class="modal fade" id="manageUserModal" tabindex="-1" role="dialog" aria-labelledby="manageUserModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="manageUserModalLongTitle">Manage User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="?removedownersubs=true"> {% csrf_token %}
                <div class="modal-body">
                    <p class="text-muted">You can remove this account from the list of users for this host.</p>
                    <div class="mb-3 row form-group">
                        <label for="manageUserEmail" class="form-label">User</label>
                        <input name="remove_user" type="text" readonly class="form-control" id="manageUserEmail" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <input id="removeUser" type="submit" class="btn btn-danger" value="Remove">
                    <button type="button"class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal edit user -->

</div>
<!-- End Vulnerabilities Report -->
{% endblock content %}

{% block scripts %}
    <!-- Chart JS -->
    <script src="{% static 'assets/js/plugins/charts.global.js' %}"></script>
    <script src="{% static 'assets/js/plugins/chartjs.min.js' %}"></script>
    <!-- Chart JS Labels -->
    <script src="{% static 'assets/js/plugins/chartjs-plugin-labels.min.js' %}"></script>
    <!-- Data Tables Script -->
    <script src="{% static 'assets/js/plugins/datatables.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'machines/charts.js' %}"></script>
    <script src="{% static 'machines/tables.js' %}"></script>
    <script src="{% static 'machines/machinenotifications.js' %}"></script>
    <!-- Bootstrap Table JS -->
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <!-- Activate charts -->
    <script>
        // Define charts values
        const vulsRiskLevelChartValues = {{ piedata|safe }};
        const vulsRiskLevelChartLabels = {{ pielabels|safe }};
        const vulnsByScanChartLabels = {{ linelabels|safe }};
        const vulnsByScanChartValues = {{ linedata|safe }}; 


        // Filter pie chart
        function filterVulnPerRisk(filter) {
            alert(filter);
            if (filter=="last scan"){
                vulsRiskLevelChartValues = "{{ piedata|safe }}";
            } else if ( filter=="all scans"){
                vulsRiskLevelChartValues = "{{ piedata|safe }}";
            }
            initCharts();
            $("#pieChartFilter").html("Filtered by <strong>" + filter + "</strong>.");
        }

        // Scan host now
        function scanNow() {
            if (confirm('Confirm request to scan host now at scan level {{machine.scanLevel}}?')) {
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/machines/{{machine.id}}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        'scan_request': {{machine.id}},
                    },
                    success: function(json) {
                        console.log("Successfully sent scan request.");
                        showNotification(
                            "Scan request registered",
                            "Your scan is now scheduled and will be executed soon. You will be notified as soon as it ends.",
                            "success",
                            "travel_info"
                        );
                    },
                    error: function(response) {
                        console.log("Could not send request. Error: " + response);
                        showNotification(
                            "Scan request failed",
                            "There was something wrong requesting the scan. Please try again.",
                            "danger",
                            "ui-2_settings-90"
                        );
                    }
                });
            } else {
                return false;
            }
        }

        // Add new users to machine
        var user_role = "";
        $(document).on('click', '#addNewOwner', function(event){
            user_role = "O";
            $("#addUser").val("Owner");
        });
        $(document).on('click', '#addNewSubscriber', function(event){
            user_role = "S";
            $("#addUser").val("Subscriber");
        });

        $(document).on('click', '#saveNewUser', function(event){
            email = $("#newUserEmail").val().split("@");
            if (email[1]=='ua.pt'){
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/machines/{{machine.id}}",
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        new_sub: $("#newUserEmail").val(),
                        user_motive: $("#newUserDescription").val(),
                        user_role: user_role,
                    },
                    success: function(json) {
                        console.log("Successfully added new user.");
                        new_row="<tr><td>"+email[0]+"@"+email[1]+"</td></tr>";
                        if (user_role== "S"){
                            $('#subscribersTable').append(new_row);
                            // Remove no users message if exists
                            $('#subscribersTable').parent().children("span").remove();
                        } else if (user_role=="O"){
                            $('#ownersTable').append(new_row);
                            // Remove no users message if exists
                            $('#ownersTable').parent().children("span").remove();
                        }
                        new_row="";
                        // Give feedback to user
                        var role = user_role=="S" ? "subscriber" : "owner";
                        showNotification(
                            "User associated to machine!",
                            "The user has now access to the machine as " + role,
                            "success",
                            "travel_info"
                        );
                    },
                    error: function (response) {
                        console.log("Could not send request. Error: " + response);
                    }
                });
                $(".modal-body input").val("");
                $(".modal-body textarea").val("");
                $('#addUserModal').modal('hide');
            } else {
                alert("Error! It must be an UA account.");
            }
        });

        // Remove owners and subscribers
        $('.table-users').on('click', 'tr', 'td', function (event, row, $element) {
            if ("{{ user_type|safe }}"=="O" || "{{ user_type|safe }}"=="A"){
                var colValue =$(this).children("td").html();
                console.log(colValue);
                $('#manageUserModal').modal('show');
                $("#manageUserEmail").val(colValue);
            }
        });
        $(document).on('click', '#removeUser', function(event){
            $('#manageUserModal').modal('hide');
        });

        // Scan level selection
        $("select").change(function(){
            $.trim($("#scanLevelSelect").children("option:selected").text());
        });

        // Vulnerability comments modal
        var modal_id = "";
        var scan_id = "";
        var vuln_id = "";
        $('.table-vulnerabilities').on('click', 'tr', 'td', function (event, row, $element) {
            var currentRow =$(this).html();
            scan_id = $(this).find('[class*="vuln-scanid"]').first().html();
            vuln_id = $(this).find('[class*="vuln-id"]').first().html();
            var type_id = "#vuln"+vuln_id+"TypeModalScan"+scan_id;
            var date_id = "#vuln"+vuln_id+"DateModalScan"+scan_id;
            var desc_id = "#vuln"+vuln_id+"DescModalScan"+scan_id;
            var status_id = "#vuln"+vuln_id+"StatusModalScan"+scan_id;
            var comment_id = "#addvuln"+vuln_id+"CommentUserlScan"+scan_id;
            $(type_id).html($(this).find('[class*="vuln-type"]').first().html());
            $(date_id).html($(this).find('[class*="vuln-date"]').first().html());
            $(desc_id).html($(this).find('[class*="vuln-desc"]').first().html());
            $(comment_id).val( "{{ logged_user.email }} ");
            modal_id = "#vuln"+vuln_id+"CommentModalScan"+scan_id;
            $(modal_id).modal('show');
            console.log(modal_id);
        });
        // POST Comment
        $(document).on('click', '.add-user-comment', function(event){
            var comment_id = "#addVuln"+vuln_id+"CommentDescriptionScan"+scan_id;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/machines/{{machine.id}}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    vuln_comment: $(comment_id).val(),
                    vuln_id_comment: vuln_id,
                },
                success: function(json) {
                    console.log("Successfully added comment.");
                    location.replace("?comment=true&goto=vulnreports");
                },
                error: function(response) {
                    console.log("Could not add comment. Error: " + response);
                }
            });
            $(".modal-body textarea").val("");
            $(modal_id).modal('hide');
        });
        // POST vulnerability status
        $(document).on('click', '.vuln-status', function(event){
            var status_id = "#vuln"+vuln_id+"StatusSelectionModalScan"+scan_id;
            var status = $(status_id).children(':selected').text();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/machines/{{machine.id}}",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    vuln_status: status,
                    vuln_id: vuln_id,
                    scan_id: scan_id,
                },
                success: function(json) {
                    location.replace("?scanStatus=true&goto=vulnreports");
                },
                error: function(response) {
                    console.log("Could not change vulnerability status. Error: " + response);
                }
            });
            $(".modal-body textarea").val("");
            $(modal_id).modal('hide');
        });

        // Status vulnerability selection
        $("select").change(function(){
            var status_id = "#vuln"+vuln_id+"StatusSelectionModalScan"+scan_id;
            $.trim($(status_id).children("option:selected").text());
        });
        var button_sub_status_id = "#vuln"+vuln_id+"StatusSubmitModalScan"+scan_id;
        $(document).on('click', button_sub_status_id, function(event){
            status = $.trim($(button_id).children("option:selected").text())
            alert("Scan level changed for " + status + ".");
        });

        // Start charts
        $(document).ready(function () {
            // Javascript method's body can be found in assets/js/demos.js
            initCharts();
        });
    </script>
{% endblock scripts %}