{% comment "About" %}

    This widget renders a card with a table with the list of workers with general data about each.

    -- Context
    machines            machines.models.Machine[]

{% endcomment %}

{% load workers_filters %}

<div class="d-flex flex-row w-100">
    <!-- Machines Table -->
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Hosts</h4>
            </div>
            <div class="card-body">
                <p class="card-text" id="machinesTableFilterText">No filter applied to table.</p>
                <div class="table-responsive">
                    <table class="table table-discreet" id="machinesTable">
                        <thead class=" text-primary">
                            <th data-field="host">Host</th>
                            <th data-field="risk">Risk level</th>
                            <th data-field="owner">Owners</th>
                        </thead>
                        <tbody>
                            {% for m in machines %}
                                <tr onClick="window.location='/machines/{{m.id}}'">
                                    <td>
                                        {{m}}
                                    </td>
                                    <td>
                                        <span class="badge p-2 bg-{{m.risk}}">{{m.risk}}</span>
                                    </td>
                                    <td>
                                        {% for u in m.users.all %}
                                            {% if u.userType == 'O' %}
                                            <p class="text-primary mb-0">{{u.user.email}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>       
                </div>
            </div>
            <div class="card-footer">
                <div class="stats d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-primary btn-lg" id="clearFilterMachines">Clear Filters</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Mahcines Table -->

    <!-- Pie chart - Machines in a risk Level -->
    <div class="col-4">
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category"></h5>
                <h6 class="mt-3 mr-auto p-2">Vulnerabilities per Risk Level</h6>
                <p class="card-text"></p>
            </div>
            <div class="card-body my-auto">
                <div class="chart-area my-auto">
                    <canvas id="machinesRiskLevelChart"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="now-ui-icons arrows-1_refresh-69"></i>
                    <span id="pieChartFilter">All scans</span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pie chart - Machines in a risk Level -->
</div>