{% comment "About" %}

    This widget renders a card with a table with the list of workers with general data about each.

    -- Context
    machines            machines.models.Machine[]

{% endcomment %}

{% load workers_filters %}

<div class="d-flex flex-row w-100">
    <!-- Machines Table -->
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Hosts</h4>
            </div>
            <div class="card-body">
                <p class="card-text" id="machinesTableFilterText">No filter applied to table. To filter per risk level click on the risk slice in the graph on the right.</p>
                <button type="button" class="btn btn-outline-primary mb-3 d-none" id="clearFilterMachines">
                    <i class="now-ui-icons ui-1_simple-remove mr-2"></i>Clear Filters
                </button>
                <div class="table-responsive">
                    <table class="table table-discreet" id="machinesTable">
                        <thead class=" text-primary">
                            <th data-field="host">Host</th>
                            <th data-field="risk">Risk level</th>
                            <th data-field="owner">Owners</th>
                        </thead>
                        <tbody>
                            {% for m in machines %}
                                <tr onClick="window.location='/machines/{{m.id}}'">
                                    <td>
                                        {{m}}
                                    </td>
                                    <td>
                                        <span class="badge p-2 bg-{{m.risk}}">
                                            {% if m.risk %}
                                                {% if m.risk == '0' %}unclassified{% else %}{{m.risk}}{% endif %}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </span>
                                    </td>
                                    <td>
                                        {% for u in m.users.all %}
                                            {% if u.userType == 'O' %}
                                            <p class="text-primary mb-0">{{u.user.email}}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>       
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
    <!-- End Mahcines Table -->

    <div class="col-4">
    <!-- Pie chart - Machines in a risk Level -->
        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category"></h5>
                <h6 class="mt-3 mr-auto p-2">Machines per Risk Level</h6>
            </div>
            <div class="card-body my-auto">
                <div class="chart-area my-auto">
                    <canvas id="machinesRiskLevelChart"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>

    <!-- End Pie chart - Machines in a risk Level -->

    <!-- Machines in numbers -->

        <div class="card card-chart">
            <div class="card-header">
                <h5 class="card-category"></h5>
                <h6 class="mt-3 mr-auto p-2">Machines in Numbers</h6>
            </div>
            <div class="card-body my-auto">
                <div class="card-body my-auto d-flex">
                    <table class="text-center text-secondary col-12 my-auto">
                        <tr>
                            <td class="px-2">
                                <h3 class="fw-bold mb-0">{{ machines|length }}</h3>
                                <p class="mt-0">registered hosts</p>
                            </td>
                            <td class="px-2">
                                {% if ports %}
                                <h3 class="fw-bold mb-0">{{ ports|length }}</h3>
                                {% else %}
                                <h3 class="fw-bold mb-0">0</h3>
                                {% endif %}
                                <p class="mt-0">exposed ports</p>
                            </td>
                            <td class="px-2">
                                <h3 class="fw-bold mb-0">{{ active_vulnerabilities|length }}</h3>
                                <p class="mt-0">active vulnerabilities</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="px-2">
                                <h3 class="fw-bold mb-0">{{ scans|length }}</h3>
                                <p class="mt-0">performed scans</p>
                            </td>
                            <td class="px-2">
                                {% if vulnerabilities %}
                                <h3 class="fw-bold mb-0">{{ vulnerabilities|length }}</h3>
                                {% else %}
                                <h3 class="fw-bold mb-0">0</h3>
                                {% endif %}
                                <p class="mt-0">total vulnerabilities</p>
                            </td>
                            <td class="px-2">
                                <h3 class="fw-bold mb-0">{{ weeks_without_vulnerabilities }}</h3>
                                <p class="mt-0">weeks without vulnerabilities</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>
    </div>
    <!-- End Machines in numbers -->
</div>