{% comment "About" %}

    This widget renders a card with a table with the list of workers with general data about each.

    -- Context
    machines            machines.models.Machine[]

{% endcomment %}

{% load workers_filters %}

<!-- Machines Table -->
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Machines</h4>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-discreet" id="machinesTable">
                <thead class=" text-primary">
                    <th>Machine</th>
                    <th>Risk level</th>
                    <th>Owner</th>
                </thead>
                <tbody>
                    {% for m in machines %}
                        <tr onClick="window.location='/machines/{{m.id}}'">
                            <td>
                                {{m}}
                            </td>
                            <td>
                                <span class="badge p-2 bg-{{m.risk}}">{{m.risk}}</span>
                            </td>
                            <td>
                                <span class="text-primary">{{m.owner}}</span>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
<!-- End Right Side Tables Row -->
</div>
<!-- End Workers Table -->