{% extends "dashboard/base.html" %}
{% load static %}

{% block meta %}
    <title>Secure(ua)ll | Subscription Requests</title>
{% endblock meta %}

{% block headerClass %}{% endblock headerClass %}

{% block header %}
<div class="header text-center my-auto">
    <h2 class="title">Subscription Requests</h2>
</div>  
{% endblock header %}

{% block styles %}
    <link href="{% static 'assets/css/plugins/datatables.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}
<!-- Vulnerabilities Report -->
<div class="row">
    <div class="card card-chart">
        <div class="card-header">
            <h5 class="card-category"></h5>
            <h4 class="card-title">Requests ({{filter}})</h4>
            <div class="dropdown">
                <button type="button"
                    class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret"
                    data-toggle="dropdown">
                    <i class="now-ui-icons loader_gear"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item {% if filter == 'all' %}text-primary{% endif %}" href="?filter=all">All</a>
                    <a class="dropdown-item {% if filter == 'pending' %}text-primary{% endif %}" href="?filter=pending">Pending</a>
                    <a class="dropdown-item {% if filter == 'approved' %}text-primary{% endif %}" href="?filter=approved">Approved</a>
                    <a class="dropdown-item {% if filter == 'denied' %}text-primary{% endif %}" href="?filter=denied">Denied</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {% if requests %}
                <div class="table-responsive">
                    <table class="table table-discreet" id="requestsTable">
                        <thead class=" text-primary">
                            <th>User</th>
                            <th>Machine(s)</th>
                            <th>Motive</th>
                            {% if filter not in "pending" %}
                                <th>Status</th>
                            {% endif %}
                            {% if filter in "all,pending" %}
                                <th>Approval</th>
                            {% endif %}
                        </thead>
                        <tbody>
                        {% for request in requests|dictsortreversed:"created_at" %}
                            <tr>
                                <td>{{request.user}}<br/>{{request.user.email}}</td>
                                <td>
                                    {% for m in request.get_machines %}
                                        <span class="col-12">{{m}}</span>
                                    {% endfor %}
                                </td>
                                <td>{{request.motive}}</td>
                                {% if filter not in "pending" %}
                                    <td>{{request.get_status}}</td>
                                {% endif %}
                                {% if filter in "all,pending" and request.pending %}
                                    <td>
                                        <div class="d-flex justify-content-around">
                                            <i class="fas fa-check text-primary tooltip-test" title="Approve request"></i><i class="fas fa-times text-danger tooltip-test" title="Deny request"></i>
                                        </div>
                                    </td>
                                {% endif %}

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>There are no requests for filter {{filter}}.</p>
            {% endif %}
        </div>
        <div class="card-footer">
            <div class="stats">
                <i class="now-ui-icons arrows-1_refresh-69"></i> <span class="refresh-counter"></span>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cooments for the vulnerability.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
            </div>
        </div>
        </div>
    <!-- End Modal -->
</div>
<!-- End Vulnerabilities Report -->
{% endblock content %}


{% block scripts %}
    <script src="{% static 'assets/js/refresh.js' %}"></script>
{% endblock scripts %}