{% extends "login/base.html" %}
{% load static %}

{% block meta %}
    <title>Secure(UA)ll | Login</title>
{% endblock meta %}

{% block header %}
{% endblock header %}

{% block styles %}
{% endblock styles %}

{% block content %}
    <div class="col-md-4 mx-auto">
        <h2 class="title text-left">Hello, {{user.get_full_name}}!</h2>

        <div class="border border-warning rounded p-2 mb-3">
            <p class="text-warning fw-bold mb-1"><i class="now-ui-icons travel_info mr-2"></i> You don't have access to the dashboard!</p>
            <p class="mb-0">You need to have been authorized by an administrator to enter the system. Fill the form below to request access to a machine vulnerabilities data.</p>
        </div>

        <p>Soon available...</p>
    </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}