{% extends "dashboard/base.html" %}
{% load static %}

{% block meta %}
    <title>Secure(ua)ll | Workers</title>
{% endblock meta %}

{% block headerClass %}{% endblock headerClass %}

{% block header %}
    <h1>Workers</h1>
{% endblock header %}

{% block styles %}
    <link href="{% static 'assets/css/plugins/datatables.css' %}" rel="stylesheet" />
{% endblock styles %}

{% block content %}

{% endblock content %}

{% block scripts %}
    <!-- Data Tables Script -->
    <script src="{% static 'assets/js/plugins/datatables.min.js' %}"></script>
    <!-- Custom JS -->
    <script src="{% static 'workers/tables.js' %}"></script>
{% endblock scripts %}