/* JSON Highlighting // From https://ourcodeworld.com/articles/read/112/how-to-pretty-print-beautify-a-json-string */
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
